.couponBox {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  border-radius: 12px;
  background-color: bisque;
  margin: 2rem 0;
  padding: 1rem;
  .couponName {
    font-size: 1.5rem;
  }

  .discountAmount {
    font-size: 1.3rem;
  }

  .expiredAt {
    font-size: 0.8rem;
    color: gray;
  }
}
