.myCartBox {
  width: 100%;
  box-shadow: 3px 3px 1px 1px #c0c0c0;
  border-radius: 12px;
  padding: 1rem;
  max-height: 500px;
  margin-bottom: 1rem;

  .deleteButton {
    float: right;
  }
  .myCartBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .productName {
      font-size: 1.3rem;
    }
  }

  .qualityInputBox {
    display: flex;
    align-items: center;

    gap: 2rem;
    .quantityInput {
      display: flex;
      align-items: center;
    }
  }
}
