.button {
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: #c0c0c0;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.button:hover {
  background-color: #ffa1a1;
  color: white;
}

.productTop {
  width: 50;
  display: flex;
  margin-bottom: 1rem;
  gap: 2rem;

  .soldOut {
    position: absolute;
    font-size: 3rem;
    color: #ffa1a1;
  }

  .thumbnail {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    gap: 2rem;
  }

  .desc {
    font-size: 1.5rem;
  }

  .productPrice {
  }

  .quantityBox {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

.quantityInput {
  display: flex;
  align-items: center;
  .button {
    padding: 0 0.5rem;
    border-radius: 5px;
  }

  .button:disabled {
    opacity: 0.5;
    cursor: none;
  }

  .input {
    text-align: center;
    border: none;
    font-size: 17px;
    outline: none;
    margin: 0 auto;
  }

  .button:disabled,
  .button:hover {
    background-color: #c0c0c0;
  }
}

.hr {
  color: #c0c0c0;
  background-color: #c0c0c0;
  height: 0.1px;
  border-color: #c0c0c0;
}

.sellerInfo {
  display: flex;
  align-items: center;
  gap: 1rem;

  .storeImg {
    width: 2rem;
    height: 2rem;
  }
}

.menus {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  margin: 2rem 0;
  background-color: #fff;

  .menu {
    background-color: bisque;
    padding: 1rem 2rem;
    border-radius: 3px;
    cursor: pointer;
    @media only screen and (min-width: 200px) and (max-width: 480px) {
      font-size: 0.7rem;
      height: 2rem;
      line-height: 2rem;
      white-space: nowrap;
    }
  }

  .selected {
    background-color: #ffa1a1;
    padding: 1rem 2rem;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    @media only screen and (min-width: 200px) and (max-width: 480px) {
      font-size: 0.7rem;
      height: 2rem;
      line-height: 2rem;
      white-space: nowrap;
    }
  }
}

.detailDesc {
  color: #ccc;
  margin-top: 2rem;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectSort {
  display: flex;
  justify-content: end;
}

.tags {
  display: flex;
  align-items: center;
  gap: 1rem;

  .tag {
    padding: 0.2rem;
    border: 1px;
  }
}

.snacks {
  display: flex;
}
