.list {
  margin-bottom: 2rem;
  .listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .goDetail {
      cursor: pointer;
    }
  }

  .listBody {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
  }
}
