.productList {
  display: flex;

  .productSideBar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }

  .productRightBar {
    width: 100%;
    flex: 3;
    position: relative;
  }
  .products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top:3rem;
  }
  .noContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
