.productList {
  display: flex;

  .productSideBar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20%;
  }

  .productRightBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }
}
