.productList {
  display: flex;
  flex-direction: row;
  @media only screen and (min-width: 200px) and (max-width: 480px) {
    flex-direction: column;
  }
  .productSideBar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;

    @media only screen and (min-width: 200px) and (max-width: 480px) {
      margin-bottom: 1rem;
    }
  }

  .productRightBar {
    width: 100%;
    flex: 3;
    position: relative;
  }
  .products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
  }
  .noContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.searchHeader {
  padding: 1rem;
  overflow: hidden;
  font-size: 1.6rem;
}
