.myPage {
  .leftBar {
    width: auto;
    @media only screen and (min-width: 200px) and (max-width: 480px) {
      display: none;
    }
  }
  .myPageBody {
    display: flex;
    .rightBar {
      width: 100%;
      top: 0;
      margin-left: 20%;
      @media only screen and (min-width: 200px) and (max-width: 480px) {
        margin-left: 0;
      }
    }
  }
}
