.myPage {
  .myPageBody {
    display: flex;
    position: relative;

    .leftBar {
      position: sticky;
      left: 0;
      top: 0;
      width: 10%;
    }
    .rightBar {
      width: 100%;
      margin-left: 20%;
    }
  }
}
