.container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
  color: #ffa1a1;
}

body {
  width: 80vw;
  margin: 0 auto;
}
