.container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
}

span {
  font-family: "__Jua_fe7685", "__Jua_Fallback_fe7685";
}

a {
  text-decoration: none;
  outline: none;
  color: black;
  white-space: nowrap;
}

a:hover,
a:active {
  text-decoration: none;
  color: #ffa1a1;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-anchor-wrapper .ant-anchor {
  font-family: "__Jua_fe7685";
}

body {
  width: 80vw;
  margin: 0 auto;
  font-family: "Jua";
  font-family: "__Jua_fe7685";

  .Toastify__toast-body {
    font-family: "__Jua_fe7685";
  }
}

.swal2-icon {
  border: none;
}

.swal2-modal {
  border-radius: 30px;
}
.swal2-confirm {
  width: 150px;
  font-family: "__Jua_fe7685";
}
.swal2-cancel {
  width: 150px;
  font-family: "__Jua_fe7685";
}

.swal2-image {
  width: 5rem;
  height: 5rem;
}
