.container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
  white-space: nowrap;
}

a:hover,
a:active {
  text-decoration: none;
  color: #ffa1a1;
}

body {
  width: 80vw;
  margin: 0 auto;
  font-size: 62.5%;
}

div:where(.swal2-icon) {
  border: none;
}

.swal2-icon {
  border: none;
}

.swal2-modal {
  border-radius: 30px;
}
.swal2-confirm {
  width: 150px;
}
.swal2-cancel {
  width: 150px;
}

.swal2-image {
  width: 5rem;
  height: 5rem;
}
