.myAddressBox {
  box-shadow: 3px 3px 1px 1px #c0c0c0;
  border-radius: 12px;
  padding: 1rem;

  .addressButtons {
    float: right;
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  .isDefault {
    white-space: nowrap;
    color: #ffa1a1;
  }

  .desc {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }

  .input {
    border-radius: 12px;
    font-size: 17px;
    margin-top: 16px;
    padding: 0.6rem;
    outline: none;
    border: 1px solid #ccc;
    width: 80%;
    font-family: "Jua";
  }

  .isDefault {
    margin: 1rem 0;
  }
}
