.myWishPage {
  .deleteButton {
    margin-bottom: 2rem;
    cursor: pointer;
    text-align: right;
  }

  .deleteButton:hover {
    color: red;
  }

  .myWishList {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    @media only screen and (min-width: 200px) and (max-width: 480px) {
      flex-direction: column;
    }
  }
}

.couponHeader {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  justify-content: center;
}
.couponMenu {
  background-color: bisque;
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
}

.selected {
  background-color: #ffa1a1;
  padding: 1rem 2rem;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.button {
  margin: 2rem;
  width: 10rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #f2cbf9;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
}

.menus {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.button {
  background-color: #ececec;
}

.selectedButton {
  margin: 2rem;
  width: 10rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ffa1a1;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
}
