.myCartPage {
  .deleteButton {
    margin-bottom: 2rem;
    cursor: pointer;
    text-align: right;
  }

  .deleteButton:hover {
    color: red;
  }

  .myCartBody {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .myWishRightBar {
      box-shadow: 3px 3px 1px 1px #c0c0c0;
      border-radius: 12px;
      padding: 1rem;
      flex: 1;

      .myWishInner {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .myWishList {
    margin-bottom: 2rem;
    flex: 2;
  }

  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .goDesc {
    padding: 1rem;
    background-color: #ffa1a1;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
  }

  .qualityInputBox {
  }
}
