.myCartPage {
  .deleteButton {
    margin-bottom: 2rem;
    cursor: pointer;
    text-align: right;
  }

  .deleteButton:hover {
    color: red;
  }

  .myCartBody {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .myWishRightBar {
      border: 1px solid #c0c0c0;
      border-radius: 12px;
      padding: 1rem;
      flex: 1;
      height: min-content;

      .myWishInner {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1rem;
      }

      .button {
        display: block;
        width: 100%;
        text-align: center;
        background: #c0c0c0;
        padding: 1rem;
        margin-top: 2rem;
        box-sizing: border-box;
        border-radius: 12px;
        color: white;
      }
    }
  }

  .myWishList {
    margin-bottom: 2rem;
    flex: 3;

    .cartInnerBox {
      display: flex;
      align-items: center;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .goDesc {
    padding: 1rem;
    background-color: #ffa1a1;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
  }

  .qualityInputBox {
  }
}
